<% if (locals.user != undefined) { %>
	<%- include('./partials/headerLogueado') %>
<% } else { %>
	<%- include('./partials/header')  %>
<% } %>
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar productos</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <h2>
            <div id="contenedor" style="width: 950px;">
                <div id="central">
                    <div id="login" style="padding: 30px 45px">
                        <form method="post" action="#" id="loginform" enctype="multipart/form-data" class="profile-form">
                            <input  type="text" name="nombre" placeholder="Nombre del producto" class="profile-form-input">
                            
                            <input type="text" name="descripcion" placeholder="Descripción" class="profile-form-input">

                            <input type="text" name="color" placeholder="Color" class="profile-form-input">

                            <!---<input type="text" name="imagenDeProducto" placeholder="Imagen del producto" class="profile-form-input">-->

                           <button type="submit" title="Ingresar" name="Ingresar" class="btn">Subir producto</button> 

                        </form>
                    </div>
                    <div class="inferior">
                        <a id="editar" href="/users/profile">Volver</a>
                    </div>
                </div>
            </div>
        </h2>
    </div>
</div>	

<%- include('./partials/footer') %>
