<%- include('./partials/header')%>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Registrate</h2>
        </div>
        <!-- Formulario de Registro a la web -->
		<h2>
			<div id="contenedor" style="width: 950px;">
				<div id="central">
					<div id="login" style="padding: 30px 45px; margin-top: 0%;">
						<div class="titulo">
							Creá tu cuenta
						</div>
						<% if (locals.errors) {
							errors.forEach(error => { %>
							<p><%= error.msg %></p>
						<% })
						}
						%>

						<form action="/users/register" method="post" id="loginform" class="profile-form">

							<input type="text" name="email" placeholder="Email" class="profile-form-input">

							<input type="text" name="nombre" placeholder="Nombre de usuario" class="profile-form-input"> 

							<input type="password" name="contrasenia" placeholder="Contraseña" class="profile-form-input">

							<input type="date" name="fecha_nacimiento" placeholder="Fecha de Nacimiento" class="profile-form-input">

							<input type="number" name="dni" placeholder="Numero de documento" class="profile-form-input">

							<input type="text" name="imagen_de_perfil" placeholder="Imagen de Perfil"> 

							<button type="submit" title="Ingresar" class="btn">Registrarme</button>

						</form>

							<div style="display: flex; flex-direction: row;">
							<input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 20px; height: 20px; margin-left: 0%; margin-right: 1%; ">
							<label class="form-check-label" for="exampleCheck1" style="margin-top: 0.8%;">Recordarme</label>
							</div>
						</div>
						<div class="inferior">
								<a href="/">Volver</a>
						</div>
                    </div>
                </div>
			</div>
		</h2>
    </div>
</div>

<%- include('./partials/footer') %>
